[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "RxCpp"]
	path = RxCpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
